
body{
    background-color: #eef7ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 0;
   padding: 0;  
   box-sizing: border-box; 
}


header{
    width: 100%;
    padding: 2px;
    background-color: #4d869c;
    color: #fff;
    

}

nav{
    background-color: #7ab2b2;
    color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

/* nav ul li:hover{
  background-color: #4d869c;
} */

/* linea de subrayado utilizando animacion de css */

nav ul li:hover::after{
	content: "";
	width: 100%;
	height: 3px;
	background-color: #fff;
	display: block;

	position: relative;
	top: 3px;

	animation-name: ampliar-linea;
	animation-duration: 0.5s;
}




@keyframes ampliar-linea {
	from{
		width: 0%;
	}
	to{
		width: 100%;
	}
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    width: 100%;
    padding: 5px;
    background-color: #cde8e5;
    text-align: center;
}

section{
    width: 95%;
    margin: 10px auto;
    z-index: 50;
}

.icono{
    position: relative;
    top: 5px;
}

.hero{
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
     

    background-image: url("../assets/img/portada1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.medio{
    width: 100%;
    height: 150px;

    background-image: url("../assets/img/cosas.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

